@model BookingApp.ViewModels.PriceListViewModel

<table class="table">
    <thead>
        <tr class="table-light">
            <th>
                @Html.DisplayNameFor(model => model.PricePerPeople.People)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerPeople.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PriceList)
        {
            <tr class="table-light">
                <td class="pricePerPeopleId d-none">
                    @Html.DisplayFor(modelItem => item.PricePerPeopleId)
                </td>
                <td class="pricePerPeoplePeople">
                    @Html.DisplayFor(modelItem => item.People)
                </td>
                <td class="pricePerPeoplePrice">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="right">
                    <a class="pricePerPeopleEdit btn btn-sm btn-outline-warning border-0">
                        <span class="material-icons btn-material">
                            edit
                        </span>
                    </a> |
                    <form asp-action="Delete" asp-route-id="@item.PricePerPeopleId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="hidden" id="priceId" name="priceId" value="@item.PricePerPeopleId" />
                        <input type="hidden" id="objectId" name="objectId" value="@Model.ObjectId" />
                        <button type="submit" class="btn btn-sm btn-outline-danger border-0" value="Delete">
                            <span class="material-icons btn-material">
                                delete
                            </span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
