@model BookingApp.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron text-center bg-secondary ">
    <span class="header-icon material-icons">
        people
    </span>
    <h1 class="text-white">Klienci</h1>
</div>

<form asp-action="AddOrEdit" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <div class="form-row">
            <input asp-for="Customer.CustomerId" class="d-none" placeholder="@Html.DisplayNameFor(n=> n.Customer.CustomerId)" />
            <div class="col-12 col-sm-6 col-md-2 p-2">
                <input asp-for="Customer.FirstName" class="form-control" placeholder="@Html.DisplayNameFor(n=> n.Customer.FirstName)" />
            </div>
            <div class="col-12 col-sm-6 col-md-2 p-2">
                <input asp-for="Customer.LastName" class="form-control" placeholder="@Html.DisplayNameFor(n=> n.Customer.LastName)" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 p-2">
                <input asp-for="Customer.Email" class="form-control" placeholder="@Html.DisplayNameFor(n=> n.Customer.Email)" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 p-2">
                <input asp-for="Customer.Telephone" type="number" class="form-control" placeholder="@Html.DisplayNameFor(n=> n.Customer.Telephone)" />
            </div>
            <div class="col-12 col-sm-12 col-md-2 p-2">
                <button type="submit" id="addSubmit" class="btn btn-primary material-icons w-100">
                    <span class="material-icons">
                        add
                    </span>
                </button>
                <div class="btn-group w-100 btn-edit d-none">
                    <button type="submit" class="btn btn-success btn-block material-icons">
                        <span class="material-icons">
                            check
                        </span>
                    </button>
                    <a id="customerClearBtn" class="btn btn-danger btn-block material-icons m-0">
                        <span class="material-icons">
                            clear
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</form>

<div id="view-all">
    @await Html.PartialAsync("CustomerList", Model.Customers)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
