@model BookingApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label asp-for="@Model.CheckIn" class="control-label"></label>
            <input asp-for="@Model.CheckIn" class="form-control" required />
            <span asp-validation-for="@Model.CheckIn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label asp-for="@Model.CheckOut" class="control-label"></label>
            <input asp-for="@Model.CheckOut" class="form-control" />
            <span asp-validation-for="@Model.CheckOut" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="col-12 col-sm-6">
        <div class="form-group">
            <label asp-for="ObjectForRentId" class="control-label"></label>
            <select asp-for="ObjectForRentId" asp-items="Model.ObjectForRents" class="form-control dropdown">
            </select>
        </div>
    </div>*@
    @*<div class="col-12 col-sm-6">
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control dropdown">
            </select>
        </div>
    </div>*@
</div>
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label asp-for="@Model.People" class="control-label"></label>
            <input asp-for="@Model.People" class="form-control" />
            <span asp-validation-for="@Model.People" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label asp-for="@Model.ReservationDeposit" class="control-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="@Model.ReservationDepositPayment" aria-label=" @Html.DisplayNameFor(model => model.ReservationDepositPayment)">
                    </div>
                </div>
                <input type="text" class="form-control" asp-for="@Model.ReservationDeposit" aria-label="@Html.DisplayNameFor(model => model.ReservationDeposit)">
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label asp-for="@Model.ReservationPrice" class="control-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="@Model.ReservationPricePayment" aria-label=" @Html.DisplayNameFor(model => model.ReservationPricePayment)">
                    </div>
                </div>
                <input type="text" class="form-control" asp-for="@Model.ReservationPrice" aria-label="@Html.DisplayNameFor(model => model.ReservationPrice)">
            </div>
        </div>
    </div>
</div>

   




<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
